#portImg {
    display: block;
    margin: auto;
    width: 50%
}

#navBar {
    display: block;
    margin: auto;
    width: 50%
}

#portVideo {
    display: none;
    margin: auto;
    width: 50%
}

.blackBackground{
    background-color: black;
}