#portImg {
    display: block;
    margin: auto;
    width: 50%
}

#portImg1 {
    position: absolute;
    display: block;
    margin: auto;
    width: 50%;
    left: 25%
}

#portImg2 {
    position: absolute;
    display: none;
    margin: auto;
    width: 50%;
    width: 50%;
    left: 25%

}

#navBar {
    display: block;
    margin: auto;
    width: 50%
}

#portVideo {
    display: none;
    margin: auto;
    width: 50%
}

.blackBackground{
    background-color: black;
}

@media only screen and (max-device-width: 800px) {

    #portImg {
        display: block;
        margin: auto;
        width: 95%
    }

    #portImg1 {
        display: block;
        margin: auto;
        width: 95%
    }

    #portImg2 {
        display: none;
        margin: auto;
        width: 95%
    }
    
    #navBar {
        display: block;
        margin: auto;
        width: 95%
    }
    
    #portVideo {
        display: none;
        margin: auto;
        width: 95%
    }

}