#portImg {
    display: block;
    margin: auto;
    width: 50%
}

#navBar {
    display: block;
    margin: auto;
    width: 50%
}

#portVideo {
    display: none;
    margin: auto;
    width: 50%
}

.blackBackground{
    background-color: black;
}

@media only screen and (max-device-width: 1000px) {

    #portImg {
        display: block;
        margin: auto;
        width: 95%
    }
    
    #navBar {
        display: block;
        margin: auto;
        width: 95%
    }
    
    #portVideo {
        display: none;
        margin: auto;
        width: 95%
    }

}