body {
    background-color:lightblue
}

#pageTitle {
    background-color:darkcyan;
    text-align:center;
    width:100%;
    border-radius: 25px;
}

.review {
    display:block;
    width:80%;
    margin:auto;
    padding:0;
    float:right;
}

.head {
    background-color:darkcyan;
    text-align:center;
    padding:0;
    vertical-align: top;
    margin:0px;
    float:left;
    width:100%;
}

.reviewMain {
    padding:20px;
    background-color:aquamarine;
    border-radius: 25px;
}

.head img {
    float:left;
    width:125px;
    height:125px;
}

.head h2 { 
    text-align:center;
}

.head h3 { 
    text-align:center;
}

.leftOne{
    float:left;
    width:17%;
    border:8px;
    background-color: mediumslateblue;
    border-radius: 25px;

}

.right {
    float:right;
    background-color:lightblue;
    display:block;
    width:80%;
}