body {
    background-color:lightblue
}

main {
    display: grid;
    grid-template-columns: 4fr 10px 12fr;
    grid-template-rows: 25px 25px 9fr
}

#pageTitle {
    background-color:darkcyan;
    text-align:center;
    width:100%;
    border-radius: 25px;
}

.review {
    margin:auto;
    padding:0;
    grid-column-start: 3;
    background-color:aquamarine;
}

#actualReviews {

    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.reviewGame {
    display:grid;
    grid-template-rows: 125px 1fr;
    grid-template-columns: 6fr 4fr;
    margin:auto;
    padding:0;
    background-color:aquamarine;
}

.head {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    background-color:darkcyan;
    text-align:center;
    padding:0;
    vertical-align: top;
    margin:0px;
    float:left;
    width:100%;
}

.reviewMain {
    padding:20px;
    background-color:aquamarine;
    border-radius: 25px;
    grid-row-start: 2;
}

.albumCover {
    float:left;
    width:125px;
    height:125px;
}

.backCover {
    float:right;
    width:125px;
    height:125px;
}

.head h2 { 
    text-align:center;
}

.head h3 { 
    text-align:center;
}


.leftOne{
    padding:10px;
    border:8px;
    background-color: mediumslateblue;
    border-radius: 25px;
    display:block;
    margin:auto;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size:.8em;
}

.leftOneGame{
    padding:10px;
    border:8px;
    background-color: mediumslateblue;
    border-radius: 25px;
    display:block;
    margin:auto;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size:.75em;
}

.right {
    float:right;
    background-color:lightblue;
    display:block;
    width:80%;
}

.pspCover {
    float:left;
    height:125px;
}

.pspBackCover {
    float:right;
    height:125px;
}

.gameReviewMain {
    padding:20px;
    grid-column-start: 1;
    background-color:aquamarine;
    border:0px;
    border-right:solid;
    border-color: darkblue;
    
}

.gameReviewScreenshots{
    background-color:aquamarine;
    grid-column-start: 2;
    border:0px;
    padding:0px;
    padding:5px;

}

.gameScreen{
    width:95%;
    display:block;
    margin:auto;
    float:initial;

}

.underText {
    font-size:.8em;
}

.ytv {
    display:block;
    margin:auto;
}

.centeredPicture {
    display:block;
    margin:auto;
}

.teachingWords {
    text-align:center;
    width:50%;
    display:block;
    margin:auto;
}

.mainPagePic {
    display:block;
    margin:auto;
    width:20%;
}
