body {
    background-color:lightblue
}

#pageTitle {
    background-color:darkcyan;
    text-align:center;
    width:100%;
    border-radius: 25px;
}

.review {
    display:block;
    width:80%;
    margin:auto;
    padding:0;
    float:right;
    background-color:aquamarine;
}

.reviewGame {
    display:block;
    width:88%;
    margin:auto;
    padding:0;
    float:right;
    background-color:aquamarine;
}

.head {
    background-color:darkcyan;
    text-align:center;
    padding:0;
    vertical-align: top;
    margin:0px;
    float:left;
    width:100%;
}

.reviewMain {
    padding:20px;
    background-color:aquamarine;
    border-radius: 25px;
}

.albumCover {
    float:left;
    width:125px;
    height:125px;
}

.backCover {
    float:right;
    width:125px;
    height:125px;
}

.head h2 { 
    text-align:center;
}

.head h3 { 
    text-align:center;
}


.leftOne{
    padding:10px;
    width:15%;
    border:8px;
    background-color: mediumslateblue;
    border-radius: 25px;
    display:block;
    margin:auto;
    float:left;
}

.leftOneGame{
    padding:10px;
    width:10%;
    border:8px;
    background-color: mediumslateblue;
    border-radius: 25px;
    display:block;
    margin:auto;
    float:left;
    font-size:.8em;
}

.right {
    float:right;
    background-color:lightblue;
    display:block;
    width:80%;
}

.pspCover {
    float:left;
    height:125px;
}

.pspBackCover {
    float:right;
    height:125px;
}

.gameReviewMain {
    padding:20px;
    background-color:aquamarine;
    float: left;
    width:65%;
    border:0px;
}

.gameReviewScreenshots{
    float:right;
    background-color:aquamarine;
    width:30%;
    border:0px;
    padding:0px;
    padding:5px;
    border-left:solid;
    border-color: darkblue;
}

.gameScreen{
    width:95%;
    display:block;
    margin:auto;
    float:initial;

}

.underText {
    font-size:.8em;
}